body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -0.035em;

    color: #333333;
}

h2 {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.03em;

    color: #333333;
}

p {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.035em;

    color: #4F4F4F; 
}

img {
    width: 90%;

    display: block;
    margin: 0 auto;
}

button {
    height: 68px;
    width: 216px;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    transition: transform 1s, background-color 1s;

    color: #FFFFFF; 

    background-color: #333333;
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: #3f3f3f;
}

a {
    color: #BDBDBD;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.btn-back {
    height: 35px;
    width: 120px;

    color: #FFFFFF; 

    background-color: #60588E;
}

.btn-back:hover {
    transform: scale(1);
    background-color: #7168a7;
}

.author {
    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #BDBDBD; 
}

header.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*  */
.theme-color {
    display: flex;
    height: 30px;
    width: 60px;
    
    padding: 2.5px;
    border-radius: 50px;
    justify-content: flex-end;
    transition: background-color 2s;

    background-color: #c7c3df;
    cursor: pointer;
}

#theme-icon {
    fill: #000000;
}


header div {
    display: flex;
}

header div img {
    background-color: red;
}
/*  */

main img {
    animation: rotate 3s alternate infinite;
}

main button {
    margin-top: 0px;
}

#mouse {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

    animation: up-down 1s alternate infinite;
}

#mouse img {
    width: 30px;
    height: 30px;
}

footer {
    margin-top: 10vh;
    margin-bottom: 24px;
}

@keyframes rotate {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1.05) rotate(-10deg);
    }
}

@keyframes up-down {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 64px;
        line-height: 95px;
        letter-spacing: -0.035em;

        color: #333333;
    }

    p {
        max-width: 370px;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;

        color: #4F4F4F; 
    }

    main button {
        margin-top: 50px;
    }

    main.container {
        display: flex;
        justify-content: center;
        align-items: top;
    }

    #mouse {
        display: none;
    }
}